<h1>Addresses</h1>

<% if @addresses.count >= 1%>
  <table>
    <thead>
      <tr>
        <th>House No.</th>
        <th>Street</th>
        <th>Town</th>
        <th>City</th>
        <th>Country</th>
        <th>Zip Code</th>
        <th>Mobile No.</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @addresses %>
    </tbody>
  </table>
<% end %>