<h1>Dashboard</h1>
<ul>
  <li>Orders</li>
  <li><%= link_to 'Products', admin_products_path %></li>
  <li><%= link_to 'Categories', admin_categories_path %></li>
  <li><%= link_to 'Customers', admin_customers_path %></li>
  <li>Addresses</li>
</ul>
