<ul>
  <li><%= link_to "My Orders", customer_orders_path %></li>
  <li><%= link_to "My Profile", edit_user_registration_path %></li>
  <li><%= link_to "My Cart (#{cart_count})", cart_index_path %></li>
  <li><%= link_to "My Addresses", customer_addresses_path %> </li>
</ul>
