<h1 class='text-3xl'>My Account</h1>

<div class='grid grid-cols-4 mt-4'>
  <div class='col-span-1'>
    <ul>
      <li>My Orders</li>
      <li>My Profile</li>
      <li><%= link_to "My Cart (#{cart_count})", cart_index_path %></li>
      <li><%= link_to "My Addresses", customer_addresses_path %> </li>
    </ul>
  </div>

  <div class='col-span-3'>
    <h2 class='text-2xl'>My Orders</h2>
  </div>
</div>

