<h1>Customer Dashboard</h1>
<p>This is the dashboard for the customers.</p>

<ul>
  <li>My Profile</li>
  <li><%= link_to "My Cart (#{cart_count})", cart_index_path %></li>
  <li>My Orders</li>
  <li>My Addresses</li>
</ul>

